body{
    margin:0;
}

header{
    background-color: black;
    color: white;
    padding: 1rem;
}

body>main1{
    margin:1rem;
    padding:1rem;
    background-color: silver;
}

#resultsection{
    padding:1rem;
    min-height: 1rem;
    background-color: beige;
}
